<p>login works!</p>


<div>
    <label for="email"> Enter Email </label>
    <input type="email" name="email"/>
</div>


<div>
    <label for="password"> Enter password </label>
    <input type="password" name="password"/>
</div>

<button type="submit" (click)="Login()"> Login </button>